CREATE TABLE amazon.countrymapping (
    code TEXT,
    name TEXT
);

INSERT INTO amazon.countrymapping (code, name)
VALUES
('AU', 'Australia'),
('CA', 'Canada'),
('US', 'United States'),
('FR', 'France'),
('IT', 'Italy'),
('JP', 'Japan'),
('DE', 'Deutchsland'),
('MX', 'Mexico'),
('ES', 'Spain'),
('IN', 'India'); 